.pio/
.pioenvs/
.piolibdeps/
.cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
pip-log.txt
.vscode/
*.code-workspace
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
test/
test-output/
captures/
logs/
*.log
python app/__pycache__/
python app/*.pyc
*.aux
*.out
*.toc
*.pdf
*.synctex.gz